:root {
  //colors
  --clr-bright-blue: #0079FF;
  --clr-grey-blue: #697C9A;
  --clr-navy-blue:#4B6A9B;
  --clr-dark-blue: #1E2A47;

  --clr-black-1: #2B3442;
  --clr-black-2: #141D2F;
  --clr-black-3: #222731;

  --clr-grey: #F6F8FF;

  --clr-off-white: #FEFEFE;
  --clr-white: #FFFFFF;

  --box-shadow-blue: #4660BB;


  //typography
  --fs-600: 2.6rem;
  --fs-500: 2.2rem;
  --fs-400: 1.8rem;
  --fs-300: 1.6rem;
  --fs-200: 1.5rem;
  --fs-100: 1.3rem;

  @media (max-width:30em) {
    --fs-600: 1.6rem;
    --fs-400: 1.3rem;
    --fs-300: 1.3rem;
    --fs-200: 1.3rem;
    --fs-100: 1.1rem;
  }  
}


//Reset
*, 
*::before, 
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 62.5%;
  height: 100vh;
}

img {
	width: 100%;
}

body {
  font-family: 'Space Mono', monospace;
  font-style: var(--fs-300);
  color: var(--clr-navy-blue);
  background-color: var(--clr-grey);
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.container {
  max-width: 73rem;

  @media (max-width:45em) {
    max-width: 57rem;
  }

  @media (max-width:30em) {
    max-width: 37rem;
  }
}

@media (max-width:45em) {
  .container {
    max-width: 57rem;
  }
}

.icon {
  width: 2rem;
  height: 2rem;
}

//Utility
.flex {
  display: flex;
}

.uppercase {
  text-transform: uppercase;
}

.ff-500 {font-size: var(--fs-500);}
.ff-100 {font-size: var(--fs-100);}